{% extends 'base.html.twig' %}

{% block title %}Ajout d'une session
{% endblock %}

{% block body %}

	<h1>Ajout d'une session</h1>

	{{ form_start(formSession) }}
	{{ form_row(formSession.intitule) }}
	{{ form_row(formSession.formation) }}
	{{ form_row(formSession.nbPlaces) }}
	{{ form_row(formSession.dateDebut) }}
	{{ form_row(formSession.dateFin) }}
	{{ form_row(formSession.formateurReferent) }}
	<h2 class="center">Programme de la session</h2>
	<div class="form-group row ">
		<div class="col-form-label col-sm-2">&nbsp;</div>
		<div id="programme-fields-list" class="col-sm-10 remove-collection-widget" data-prototype="{{ form_widget(formSession.programmes.vars.prototype)|e }}" data-session="{{sessionId}}" data-widget-tags="{{ '<p></p>'|e }}" data-widget-counter="{{ formSession.programmes|length }}">
			{% for programmeField in formSession.programmes %}
				<p>
					{{ form_errors(programmeField) }}
					{{ form_widget(programmeField, {'attr': {'class': 'borders'}}) }}
				</p>
			{% endfor %}
		</div>
	</div>
	<div class="form-group row flex-action">
		<button type="button" class="add-another-collection-widget button" data-list-selector="#programme-fields-list">Ajouter un nouveau module</button>
	</div>
	{# empêche l'apparition d'une légende "programmes", si la collection est vide (en cas de création d'une nouvelle session) #}
	{% do formSession.programmes.setRendered %}
	{{ form_end(formSession) }}

{% endblock %}
