{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block body %}

<h1>Liste des sessions</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Intitulé Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Nombre de places thérorique</th>
            <th>Nombre de places réservées</th>
            <th>Nombre de places restantes</th>
            <th>Détail programme</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
        <tr>
            <td><a href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a></td>
            <td>{{ session.dateDebut | date('d/m/Y') }}</td>
            <td>{{ session.dateFin | date('d/m/Y') }}</td>
            <td>{{ session.nbPlaces }}</td>
            <td>{{ session.stagiaires | length }}</td>
            <td>{{ session.nbPlaces - (session.stagiaires | length) }}</td>
            <td>{{ session.programmes | length }} modules</td>
        </tr>
        {% endfor %}        
    </tbody>
</table>

{% endblock %}