{% extends 'base.html.twig' %}

{% block title %}Formateur #{{ formateur.id }}{% endblock %}

{% block body %}

<h1>Sessions supervisées par {{ formateur }}</h1>

{% if (formateur.session | length) != 0 %}
<ul>
    {% for session in formateur.session %}
        <li> <a href="{{ path('show_session', {'id': session.id}) }}">{{ session }}</a> (du {{ session.dateDebut | date('d/m/Y') }} au {{ session.dateFin | date('d/m/Y') }})</li>
    {% endfor %}
</ul>
{% else %}
    <p>Acune session supervisée pour le moment</p>
{% endif %}

{% endblock %}